            
		<div class="container">
            <hr>

            <footer>
              <p>&copy; Axiom Data Science 2014</p>
            </footer>

        </div>



        

        <div class="col-xs-7 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
			<ul class="nav mobile-menu">
            	 {% include menu_links.html %}
          	</ul>
        </div>



 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="/assets/js/offcanvas.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.3/fastclick.min.js"></script>
<script type="text/javascript">

$(function() {
    FastClick.attach(document.body);
    FastClick.attach('button');
});

$(function () {
  $('[data-toggle="tooltip"]').tooltip();
  $('[role="navigation"] .nav li').find('a href="/"').addClass('active')

})

</script>