    <div class="navbar navbar-fixed-top navbar-inverse" id="top-nav" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"  data-toggle="offcanvas">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="../../assets/images/header-sm5.png" /></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            {% include menu_links.html %}
          </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.navbar -->