<div id="work">
  <div class="heading"><h3>Our work</h3></div>
  





  <div class="row">



{% for project in site.pages %}
  {% if project.project %}
  {% if project.featured %}

    <a href="{{project.url}}"><div class="col-md-2 col-sm-3 col-xs-4">
      <img src="{{project.image_thumb}}" class="img-responsive" />
      <p>{% if project.short_title %}{{project.short_title}}{% else %}{{project.title}}{% endif %}</p>
    </div></a>
  {% endif %}
  {% endif %}
{% endfor %}



  </div>
  
 <!--  <a href="/projects/">More work</a> -->

</div>