<!DOCTYPE html>
<html lang="en">
  <head>
  	{% include head.html %}
  </head>
  <body class="{{page.layout}}">


     {% include main_menu.html %}




  <div class="row row-offcanvas row-offcanvas-right">





    {% if page.intro %}

     <div class="intro-wrap">
          <div class="intro">
          <img src="{{page.intro.image}}" class="img-responsive" />
          <!-- <img src="../assets/images/dall-porpoise-head.jpg" class="img-responsive" /> -->
          <!-- <img src="../assets/images/cirt-head.jpg" class="img-responsive" /> -->
            <div class="overlay">
              <div class="inner container">
                <p>{{page.intro.tagline}}</p>
              </div>
            </div>
        </div>
    </div>


    {% endif %}

   



      	<div class="container content">
				{{content}}
		</div>
		
		{% include footer.html %}
            
  </div>







  </body>
</html>