*{
	font-family:Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;;
}

a{
	color:#ffffcc;
}

a:hover{
	color:#ffff99;
}

body{
	background:#333;
	color:#FFF;
}

/*@media (min-width: 768px){
	.navbar{
		min-height:40px;
	}
	.navbar-nav>li>a {
		padding-top:10px;
		padding-bottom:10px;
	}
}*/

.header{
	display:none;
}

.navbar-inverse .navbar-nav>li>a{
	color:#EDEDED;
}

.header.smaller{
	display:block;
}



.header.smaller .logo{
	display:block;
	padding: 12px 0px 0px 30px;
	height:40px;

    -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein .5s; /* Firefox < 16 */
        -ms-animation: fadein .5s; /* Internet Explorer */
         -o-animation: fadein .5s; /* Opera < 12.1 */
            animation: fadein .5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.header.smaller .logo img{
	/* position:absolute; */
	/* left:0; */
	/* right:0; */
	/* text-align:center; */
	max-height: 27px;
	margin:0px;
	padding:0px;
}

.header li a{
	background:#363636;
	border-left:2px solid #222;
}



.intro{
	text-align:center;
	padding-top:60px;
	padding-bottom: 40px;
	background:#222;
	margin-bottom:30px;
}

.intro img{
	margin:0px auto;
}

.intro .actions{
	margin-top:30px;

}

.intro .action{
	display: block;
	padding:10px;
	max-width: 300px;
	margin: 15px auto;
}

.splash{
	margin-bottom:30px;
}

.splash .action{
	padding:0px 20px;
}


.splash .action a.btn,
.intro .action a.btn{
	background:#363636;
	border-color:#363636;
	font-size:18px;
	padding:15px;
}

.intro .action a.btn{
		display:block;
	margin-top:8px;
}

span.action.login a.btn {
    font-size:16px;
    padding:10px;
    width:100px;
    display:inline-block;
    margin-left:10px;
    margin-top:-5px
}

/*.intro .action a.btn-success{
	background:#006699;
}*/

.intro .action a.btn:hover{
	background:#000;
	border-color:#000;
}

.intro .action a.btn .glyphicon{
	padding-left:10px;
}

.icon{
	margin:15px auto;
	text-align: center;
}


@media (max-width: 991px){
	.icon{
		margin:15px;
		float:right;
		max-width:50px;
	}
}

h3{
	font-size:30px;
}



h4{
	font-weight:normal;
	padding-bottom:10px;
	line-height: 150%;
}



.section{

	margin-bottom:30px;
	padding-bottom:30px;
}


.partners{
    margin:60px auto;
    text-align: center;
}

.partners img{
	margin:0px auto;
}



.form-container{
	margin:70px auto 0 auto;
	max-width:400px;
}

.contact .form-container{
	max-width:600px;

}

.contact #user_group_other{
	margin-top:10px;
}

.form-container h2{
	font-size:20px;
	color:#ccc;
}


.form-container .form{
	background:#222;
	border-radius:10px;
	min-height:200px;
	padding:40px;
	text-align:center;
}

.form form{
	text-align: left;
}

.form-group,.checkbox{
	padding-bottom:10px;
}



.splash {
    position:relative;
    max-width:1500px;
    margin:0px auto 50px auto;
}

.splash .sp-logo{

}

.splash .sp-img{

}

.splash .actions{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    padding:30px;
    text-align:center;
    background-color:#333;
    background:rgba(256,256,256,.3)
}

.splash .logo-container {
    max-width: 60%;
    margin: 0px auto;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
}


/*@media (min-width: 1500px){
	.splash{
		margin-top:4%;
	}
}
*/




.overview p{
    font-size:18px;
}

.section li{
	font-size:16px;
	padding-bottom:10px;
}
h3.subhed{
    margin:40px 0px 30px 0px;
    padding:20px 0px;
    border-bottom:1px dashed #666;
    font-size:18px;
    color:#999;
    text-align:left;

}


.sp1 .section h4,.sp1 h3.subhedb{
	color:#c7ddeb;
}

.sp1 .splash-wrap{
	background:#222;
}

.sp2 .section h4.sp2 h3.subhedb{
	color:#e0e0e0;

}

.sp3 .section h4,.sp3 h3.subhedb{
	color:#bcc0b5;

}


